@font-face { 
    font-family: 'FZXIANGSU12'; 
    src:url('../font/FZXIANGSU12.woff'),
     url('../font/FZXIANGSU12.ttf') format('truetype'),
    url('../font/FZXIANGSU12.oft');
    
    } 
div{
    margin: 0;
    padding:0;
}
body{
    background-color: black; 
    display: inline-block;
    overflow-y:hidden; 
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0px;
}
#map{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border: 5px double silver; 
}
#foodlayer{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display: none;
}
.snakeBody{
    background:whitesmoke;
    position: absolute;
    /* display: none; */
    transition: all 2s linear;
}
.food{
    position: absolute;
    background-color: aqua;
} 
ul{
    width: 128px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(400px,-340px);
    padding: 20px;
    display: none;
}
li{
    list-style: none;
    color: whitesmoke;
    font-family: FZXIANGSU12;
    width: 128px;
}
li:first-child{
    font-size: 32px;
    /* font-weight: bold; */
    
}
li:last-child{
    font-size: 48px;
    font-weight: bold;
    color: brown;
    text-align: center;
    padding-top:20px;
}
#start{
    color: wheat;
    font-family: FZXIANGSU12;
    width: 320px;
    height: 78px;
    font-size: 64px;
    position:absolute;
    top:50%;
    left:50%;
    margin: 0;
    transform:translate(-50%,-80%);
    transition: all 0.2s linear;
    z-index: 1;
    text-align: center;
    background-color:black;
}
#start:hover{
    font-size: 72px;
    opacity: 50%;
    color: azure;
    transition: all 0.2s linear;
    transform:translate(-50%,-90%);
}
#choice{
    width: 200px;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:absolute;
    top:50%;
    left:50%;
    margin: 0;
    z-index: 5;
    transform:translate(-50%,180%);
}
#choice input{
    width: 0px;
    height: 0px;
    margin: 0px;
}
#choice label{
    font-family: FZXIANGSU12;
    color: wheat;
    font-size: 20px;
    opacity: 0.4;
}
#choice input:checked+label { 
    /* border: 1px solid #b37c66; */
    color: blanchedalmond;
    opacity:1;
}